venv
.venv
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Environment variables and secrets
.env
config.json
settings.ini

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Logs and debugging files
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.pycover
*.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Caches
.cache/
__pypackages__/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

*.bin
*.sqlite3
